# spellchecker: ignore jsonfile tmpfiles

[defaults]
inventory = inventory/
vault_password_file = .vault_pass
roles_path = roles
log_path = .ansible/ansible.log
nocows = 1
retry_files_enabled = False
display_skipped_hosts = no
pipelining = True
allow_world_readable_tmpfiles = True

[facts_caching]
fact_caching = jsonfile
fact_caching_connection = .ansible/facts_cache
fact_caching_timeout = 86400
